<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Login</title>
</head>
<body>
    <div id="wrapper">
        <h1>이메일을 입력해주세요.</h1>

        {% if message %}
            <p>{{ message }}</p>  <!-- 이메일 저장 후 메시지 -->
            <p>{{ email }}로 결과가 전송됩니다!</p>

            <!-- "투표 페이지로 돌아가기" 버튼 -->
            <form action="/vote_page">
                <button type="submit" id="back">투표 페이지로 돌아가기</button>
            </form>
        {% else %}
            <form action="/login_page" method="POST">
                <label for="email">Email : </label>
                <input type="email" id="email" name="email" placeholder="결과를 전송받고 싶다면 이메일을 입력해주세요." required><br><br>
                <input type="submit" id="login"value="로그인">
            </form>
        {% endif %}
    </div>

</body>
</html>
